:root {
  --width: 900px;
  --height: 450px;
}

body {
  margin: 0px;
  overflow: hidden;
}

svg {
  width: var(--width);
  height: var(--height);
}

.Iris-setosa {
  stroke: #099122;
}

.Iris-versicolor {
  stroke: #078cf2;
}

.Iris-virginica {
  stroke: #fa7305;
}

.text {
  font-size: 1.7em;
}

.legend {
  width: var(--width);
  margin-top: 20px;
  text-align: center;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 20px;
}

.dot.Iris-setosa {
  background-color: #099122;
}

.dot.Iris-versicolor {
  background-color: #078cf2;
}

.dot.Iris-virginica {
  background-color: #fa7305;
}