/* :root {
  --width: 940px;
  --height: 450px;
}
  
body {
  margin: 0px;
  overflow: hidden;
}
  
svg {
  width: var(--width);
  height: var(--height);
} */

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 9px sans-serif;
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#column {
  font-size: 1rem;
  font-weight: bold;
}

#column-artist{
  margin-left: 240px;
}

#column-album{
  margin-left: 125px;
}

#column-track{
  margin-left: 125px;
}