:root {
  --width: 940px;
  --height: 450px;
}
  
body {
  margin: 0px;
  overflow: hidden;
}
  
svg {
  width: var(--width);
  height: var(--height);
}

#menus {
  font-size: 2em;
  width: var(--width);
  text-align: center;
}

#menus select {
  font-size: 1.3rem;
  margin-right: 20px;
  margin-left: 20px;
}

.tick text {
  font-size: 1.7em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 2.3em;
  fill: #8E8883;
}

circle {
  opacity: 0.8;
}

#legend{
  --height: 52px
}

.legend-label {
  fill: black;
}

#slider {
  --height: 100px;
}

#number-data {
  width: var(--width);
  text-align: center;
}
